#react-content{
    background-image: url(../../images/nature/body.png);
}

.head-image{
    /*background-image: url(../../images/head.png);*/
}

.page-content{
    /*background-image: url(../../images/page.png);*/
    background-color: rgba(214,255,238,0.8);
}

.page-editor{
    background: rgba(255,255,255,0.5);
}

.page-preview{
    background: rgba(228, 228, 228, 0.4);
}

.page-preview blockquote{
    background-color: rgba(160, 243, 212, 0.6);
}

.page-preview pre{
    background-color: rgba(255, 255, 255,0.9);
}

.page-preview code{
    background-color: rgba(162, 239, 190, 0.6);
}

.page-text{
    background: none;
}

.page-text::-webkit-scrollbar-thumb{
    background: rgb(128, 205, 174);
}

.page-text::-webkit-scrollbar-track {
    background: rgba(187, 208, 187, 0.8);
}

.ace_scrollbar::-webkit-scrollbar-thumb{
    background: rgb(128, 205, 174);
}

.ace_scrollbar::-webkit-scrollbar-track {
    background: rgba(187, 208, 187, 0.8);
}

.page-list{
}

.page-list-background{
}

.page-sortable-list::-webkit-scrollbar-thumb{
    background: rgb(117, 191, 160);
}

.page-sortable-list::-webkit-scrollbar-track {
    background: rgba(187, 208, 187, 0.8);
}

.page-sortable-list-item-normal:hover{
    background-color: rgba(255,255,255,0.4);
}

.page-list-button:before{
    background-image: url(../../images/page-list-button.png);
}

.page-sortable-list .ui-sortable-dragging{
    background-color: rgba(230,230,230,0.9);
}

.page-sortable-list .ui-sortable-placeholder.visible {
    background-color: rgba(230,230,230,0.9);
}

.chapter-list-background{
}

.chapter-list{
}

.chapter-list::-webkit-scrollbar-thumb{
    background: rgb(115, 186, 157);
}

.chapter-list::-webkit-scrollbar-track {
    background: rgba(225, 246, 225, 0.8);
}

.chapter-list-button{
    background-image: url(../../images/chapter-list-button.png);
}

.books-button-open-pre{
    -webkit-mask-image: url(../../images/nature/book-pre.png);
}

.book-pre{
    -webkit-mask-image: url(../../images/nature/book-pre.png);
}

.book-button-edit{
    -webkit-mask-image: url(../../images/book-button-edit.png);
}

.book-button-remove{
    -webkit-mask-image: url(../../images/book-button-remove.png);
}

.book-list-create{
    background-color: rgba(100, 218, 154, 0.8);
}

.book-list-load{
    background-color: rgba(100, 218, 154, 0.8);
}

.bm-menu-wrap {
    background-image: url(../../images/nature/book-list.png);
}

.modal-error, .modal-warn{
    box-shadow: 0 0 10px grey;
}

.modal-error .modal-head{
    background: url(../../images/nature/error-head.png);
}

.modal-error .modal-body{
    background: rgb(255, 255, 255);
}

.modal-warn .modal-head{
    background: url(../../images/nature/warn-head.png);
}

.modal-warn .modal-body{
    background: rgb(255, 255, 255);
}

.modal-sys-info .modal-head{
    background: url(../../images/nature/sys-info-head.png);
}

.modal-sys-info .modal-body {
    background: rgb(255, 255, 255);
}

.react-context-menu {
    background-image: url(../../images/nature/menu-background.png);
    box-shadow: 0 0 10px black;
}
.react-context-menu-link.active,
.react-context-menu-link:hover {
    background: rgba(101, 218, 134, 0.4);
}

.toolbar-about{
    -webkit-mask-image: url(../../images/about.png);
}

.toolbar-reload{
    -webkit-mask-image: url(../../images/reload.png);
}

.toolbar-export{
    -webkit-mask-image: url(../../images/export.png);
}

/*Hightlight style*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #272822; color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
    color: #3fb16f;
}

.hljs-code {
    color: #66d9ef;
}

.hljs-class .hljs-title {
    color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
    color: #85dbd7;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #9bd16c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
}

.hljs-number{
    color: #6064da;
}