h1,h2,h3,h4,h5,h6,p,a{
    word-break: break-word;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?c8cymx');
    src:    url('../fonts/icomoon.eot?c8cymx#iefix') format('embedded-opentype'),
            url('../fonts/icomoon.ttf?c8cymx') format('truetype'),
            url('../fonts/icomoon.woff?c8cymx') format('woff'),
            url('../fonts/icomoon.svg?c8cymx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.page-preview a:after{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-preview{
    margin-bottom: 22px;
    font-size: 16px;
}

.page-preview h1{
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-preview h2{
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-preview h3{
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-preview h4,h5,h6{
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-preview p,.page-preview a{
    font-size: 1em;
    line-height: 1.5em;
}

.page-preview p{
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
    display: block;
}

.page-preview a{
    text-decoration: none;
    font-weight: bolder;
    color: #444444;
}

.page-preview a:hover{
    color: black;
}

.page-preview a:after{
    margin-left: 2px;
    content: "\e906";
}

.page-preview blockquote{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.page-preview pre{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.page-preview pre code{
    font-family: "Hack" ! important;
    background-color: rgba(0,0,0,0);
}

.page-preview pre::-webkit-scrollbar{
    display: none;
}

.highlight{
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
}

.page-preview img {
    max-width: 100%;
    max-height: 100%;
}

.page-preview center {
    margin-top: 1em;
    margin-bottom: 1em;
}

.page-preview .MathJax {
    font-size: 1.4em;
    line-height: 1.8em;
}

.page-preview table{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-spacing: 0;
    padding: 0;
    margin: 10px;
}

.page-preview tr{
    text-align: center;
}

.page-preview th{
    padding: 10px;
}

.page-preview td{
    padding: 10px;
}

.page-preview table, th, td {
    border: 1px solid;
    border-color: rgba(20, 20, 20,0.8);
}

.page-preview th{
    background-color: rgba(160, 160, 160, 0.8);
}

.page-preview code{
    padding: 2px;
}