.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap{
    background-size: 100% 100%;
    background-position: bottom;
}

.bm-menu {
    padding-top: 80px;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {

}

.bm-overlay {
}

.book{
    width: 270px;
    margin-left: 15px;
    margin-bottom: 10px;
    height: 64px;
    border-bottom-right-radius: 20px 40px;
    border-top-right-radius: 20px 40px;
}

.book-pre{
    margin-left: 4px;
    margin-right: 12px;
    width: 48px;
    height: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% auto;
    -webkit-mask-position: center;
}

.book-pre:hover{
    animation: rotate-full 3s linear 0s infinite normal;
}

.book-text{
    width: 150px;
    background-size: auto 100%;
    background-position: left;
}

.book-text input{
    vertical-align: top;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 24px;
}

.book-buttons{
    margin-left: 4px;
    margin-top: 8px;
    width: 36px;
    height: 14px;
}

.book-button{
    display: inline-block;
    width: 50%;
    height: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 100%;
    transition: 0.5s ease-out;
}

.book-button:hover{
    transform: translateY(-3px);
}

.book-list-button{
    width: 40%;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 36px;
    font-size: 18px;
    color: white;
    transition: 0.3s ease-out;
}

.book-list-create{
    border-bottom-right-radius: 20px 30px;
    border-top-right-radius: 20px 30px;
}

.book-list-create:hover{
    transform: translateX(5px);
}

.book-list-load{
    border-bottom-left-radius: 20px 30px;
    border-top-left-radius: 20px 30px;
}

.book-list-load:hover{
    transform: translateX(-5px);
}

@keyframes rotate-full {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
}