.react-context-menu {
    width: 140px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    background-position: top;
    background-size: 100% auto;
}

.react-context-menu-link {
    display: inline-block;
    width: 120px;
    padding: 4px 0 4px 20px;
    clear: both;
    font-weight: 200;
    line-height: 20px;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

.react-context-menu-link.active,
.react-context-menu-link:hover {
}

.react-context-menu-item.submenu > a {
    padding-right: 27px;
}

.react-context-menu-item.submenu > a:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}