.modal{
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: anim_151461681900776;
    animation-timing-function: ease-out;
}

.modal-error, .modal-warn, .modal-sys-info, .modal-export{
    text-align: center;
}

.modal-head{
    width: 100%;
    height: 60px;
    background-size: 100% auto;
    background-position: top;
}

.modal-body {
    padding-top: 10px;
    width: 100%;
}

.modal-export .modal-body {
    height: 200px;
}

.modal-message{
    min-height: 30px;
    max-height: 400px;
    overflow: auto;
    margin-left: 10%;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
}

.modal-sys-info .modal-message{
    text-align: left;
}

.modal-sys-info .modal-message > a,p,b{
    font-size: 14px;
    line-height: 20px;
}

.modal-sys-info .modal-message a{
    color: grey;
}

.modal-sys-info .modal-message a:hover{
    color: black;
}

.modal-sys-info .modal-message > h1,h2,h3,h4,h5,h6{
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal-export .modal-message{
    padding-top: 0;
}

.modal-export .modal-message h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-export .modal-message a{
    color: grey;
}

.modal-export .modal-message a:hover{
    color: black;
}

.modal-button{
    width: 70px;
    height: 30px;
    margin: 20px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom-left-radius: 10px 20px;
    border-top-left-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px;
    border-top-right-radius: 10px 20px;
    background-color: rgba(240, 240, 240, 0.8);
}

.modal-export .button-cancel{

}

.modal-export .button-export{

}