body::-webkit-scrollbar{
    display: none;
}

.full{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.float-left{
    float: left;
}

.absolute{
    position: absolute;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.text-center{
    text-align: center;
}

.inner{
    display: -webkit-inline-box;
}

.page{
    width: 50%;
    height: 100%;
}

.page-text{
    width: 98%;
    height: 98%;
    margin-left: 1%;
    margin-top: 2%;
    border: none;
    overflow: auto;
}

.page-text::-webkit-scrollbar{
    background: none;
}

.page-text::-webkit-scrollbar-thumb{
    background: #fff;
}

.ace_scrollbar::-webkit-scrollbar{
    background: none;
}

.ace_scrollbar::-webkit-scrollbar-thumb{
    background: #fff;
}

.page-text:focus{
    outline: none;
}

.page-list{
    height: 100%;
}

.page-sortable-list{
    overflow-y: auto;
    overflow-x: hidden;
}

.page-sortable-list-item form input{
    width: 160px;
    padding-left: 20px;
}

.page-sortable-list-item form input{
    font-size: 16px;
}

.page-list::-webkit-scrollbar{
    background: none;
}

.chapter-list{
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.chapter-sortable-list{
    vertical-align: top;
}

.chapter-sortable-list-item{
    height: 27px;
}

.chapter-sortable-list-item form input{
    text-align: center;
    font-size: 16px;
}

.chapter-list-button{
    vertical-align: top;
    line-height: 27px;
}

.chapter-list::-webkit-scrollbar{
    background: none;
    height: 5px;
}

.books-button-open{
    cursor: pointer;
    font-size: 20px;
    background-size: cover;
}

.books-button-open:before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    background-size: auto 60px;
}

form{
    height: 100%;
}

input{
    min-width: 60px;
    height: 100%;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

button{
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}