@font-face {
    font-family: 'Hack';
    src: url('../fonts/hack/eot/latin/hack-regular-latin-webfont.eot?v=2.020');
    src: url('../fonts/hack/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
    url('../fonts/hack/woff2/latin/hack-regular-latin-webfont.woff2?v=2.020') format('woff2'),
    url('../fonts/hack/woff/latin/hack-regular-latin-webfont.woff?v=2.020') format('woff'),
    url('../fonts/hack/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.book-text, .book-list-button, .modal, .books-button-open, .chapter-sortable-list-item, .page-sortable-list-item, .page-list-button, .react-context-menu-link, .page-preview{
    font-family: Microsoft YaHei,Arial, sans-serif ! important;
}

body{
    overflow: hidden;
}

#react-content{
    background-size: cover;
    background-position: top;
}

form{
    height: 100%;
}

input{
    height: 100%;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    color: black;
}

input:focus{
    outline: none;
}

/*input:-webkit-autofill {*/
    /*-webkit-box-shadow: 0 0 0 1000px white inset;*/
/*}*/


button{
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.button{
    cursor: pointer;
}

.full{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.absolute{
    position: absolute;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.inner{
    display: -webkit-inline-box;
}

.init-load{
}

.page-content{
    background-size: auto 100%;
    background-position: bottom;
}

.page-editor, .page-preview{
    width: 50%;
}

.page{
    height: 100%;
}

.page-text{
    width: 96%;
    height: 98%;
    margin-left: 2%;
    margin-top: 1%;
    border: none;
    overflow: auto;
}

.page-text::-webkit-scrollbar{
    background: none;
    width: 7px;
    height: 7px;
}

.page-text::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

.page-text::-webkit-scrollbar-track {
    border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar{
    background: none;
    width: 7px;
    height: 7px;
}

.ace_scrollbar::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

.ace_scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
}

.page-text:focus{
    outline: none;
}

.page-list-background{
    background-size: 100% auto;
    background-position: bottom;
    height: 100%;
}

.page-list{
    height: 100%;
}

.page-sortable-list{
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.page-sortable-list::-webkit-scrollbar{
    background: none;
    width: 7px;
}

.page-sortable-list::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

.page-sortable-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

.page-list-button{
    width: auto;
    height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    font-size: 18px;
}

.page-list-button:before{
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
    background-size: auto 100%;
}

.page-sortable-list-item{
    float: left;
    width: 100%;
    border-bottom: solid 1px rgba(200,200,200,0.2);
    transition: 0.3s ease-out;
}

.page-sortable-list-item form{
    width: 92%;
    padding-left: 2%;
    padding-right: 6%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.page-sortable-list-item-active{
    width: 100%;
}

.page-sortable-list-item form input{
    width: 100%;
    padding-left: 10px;
}

.page-sortable-list-item form input{
    font-size: 13px;
}

.page-list::-webkit-scrollbar{
    display: none;
}

.head{
    background-size: 100% auto;
}

.head-image{
    background-position: right;
    background-repeat: no-repeat;
}

.chapter-list-background{
    width: auto;
    background-size: auto 100%;
    background-position: bottom;
}

.chapter-list{
    width: auto;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    transform:rotateX(180deg);
}

.chapter-sortable-list{
    vertical-align: top;
    transform:rotateX(180deg);
}

.chapter-sortable-list-item form{
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
}

.chapter-sortable-list-item form{
    min-width: 60px;
    border-top-left-radius: 10px 20px;
    border-top-right-radius: 10px 20px;
}

.chapter-sortable-list-item form input{
    width: 100%;
}

.chapter-sortable-list-item-normal{
    margin-top: 5px;
    height: 30px;
    margin-right: -1px;
}

.chapter-sortable-list-item-normal{
    transition: 0.3s ease-out;
}

.chapter-sortable-list-item-normal:hover{
    transform: translateY(-5px);
}

.chapter-sortable-list-item-active{
    height: 30px;
}

.chapter-sortable-list-item form input{
    text-align: center;
    font-size: 13px;
}

.chapter-list-button{
    vertical-align: top;
    height: 30px;
    width: 35px;
    margin-left: -1px;
    background-color: rgba(200,200,200,0.6);
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-position: center;
    transform:rotateX(180deg);
    border-top-left-radius: 10px 20px;
    border-top-right-radius: 10px 20px;
    border-top: solid 1px #999999;
    border-left: solid 1px #999999;
    border-right: solid 1px #999999;
}

.chapter-list::-webkit-scrollbar{
    background: none;
    height: 5px;
}

.chapter-list::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

.chapter-list::-webkit-scrollbar-track {
    border-radius: 10px;
}

.books-button-open{
    cursor: pointer;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s ease-out;
}

.books-button-open:hover{
    transform: translateY(-5px);
}

.books-button-open-pre{
    width: 40px;
    height: 60px;
    margin-right: 5px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 40px;
    -webkit-mask-position: center;
}

.head-line{
    width: 100%;
}

.toolbar-item{
    width: auto;
    margin: 4px;
    height: 100%;
    transition: 0.3s ease-out;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: auto 100%;
    -webkit-mask-position: center;
}

.toolbar-item:hover{
    transform: translateY(-5px);
}

.toolbar-selector{
    -webkit-appearance: menulist-button;
    margin: 4px;
    width: 80px;
    height: 100%;
    font-size: 12px;
    outline: none;
}