.ui-sortable {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ui-sortable:after{
    clear: both;
}

.ui-sortable-item {
    float: left;
    cursor: move;
}

.ui-sortable-item form{
    cursor: move;
}

.ui-sortable-item form input{
    cursor: move;
}

.ui-sortable .ui-sortable-item.ui-sortable-dragging {
    position: absolute;
    z-index: 1688;
}

.ui-sortable .ui-sortable-placeholder {
    display: none;
}

.ui-sortable .ui-sortable-placeholder.visible {
    display: block;
    z-index: -1;
}

/* custom style */

.ui-sortable .ui-sortable-placeholder.visible {
    opacity: .4;
}

.page-sortable-list .ui-sortable-placeholder .visible{
    border: 2px #fff solid;
}

.ui-sortable.full-width .ui-sortable-item{
}