@font-face {
    font-family: 'Hack';
    src: url('theme/fonts/hack/eot/latin/hack-regular-latin-webfont.eot?v=2.020');
    src: url('theme/fonts/hack/eot/latin/hack-regular-latin-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
    url('theme/fonts/hack/woff2/latin/hack-regular-latin-webfont.woff2?v=2.020') format('woff2'),
    url('theme/fonts/hack/woff/latin/hack-regular-latin-webfont.woff?v=2.020') format('woff'),
    url('theme/fonts/hack/web-ttf/latin/hack-regular-latin-webfont.ttf?v=2.020') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.book-text, .book-list-button, .modal, .books-button-open, .chapter-sortable-list-item, .page-sortable-list-item, .page-list-button, .react-context-menu-link{
    font-family: Microsoft YaHei,Arial, sans-serif ! important;
}

#react-content{
    background-image: url(theme/images/body.png);
}

.head-image{
    /*background-image: url(theme/images/head.png);*/
}

.page-content{
    /*background-image: url(theme/images/page.png);*/
    background-color: white;
}

.page-editor{
    background: rgba(255,255,255,0.5);
}

.page-preview{
    background: rgba(228, 228, 228, 0.4);
}

.page-preview blockquote{
    background-color: rgba(243, 216, 222, 0.6);
}

.page-preview pre{
    background-color: rgba(255, 255, 255,0.9);
}

.page-preview code{
    background-color: rgba(239, 194, 212, 0.6);
}

.page-text{
    background: none;
}

.page-text::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.page-text::-webkit-scrollbar-track {
    background: rgba(208, 198, 188, 0.8);
}

.ace_scrollbar::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.ace_scrollbar::-webkit-scrollbar-track {
    background: rgba(213, 200, 197, 0.8);
}

.page-list{
}

.page-list-background{
}

.page-sortable-list::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.page-sortable-list::-webkit-scrollbar-track {
    background: rgba(252, 249, 243, 0.8);
}

.page-sortable-list-item-normal:hover{
    background-color: rgba(255,255,255,0.4);
}

.page-list-button:before{
    background-image: url(theme/images/page-list-button.png);
}

.page-sortable-list .ui-sortable-dragging{
    background-color: rgba(230,230,230,0.9);
}

.page-sortable-list .ui-sortable-placeholder.visible {
    background-color: rgba(230,230,230,0.9);
}

.chapter-list-background{
}

.chapter-list{
}

.chapter-list::-webkit-scrollbar-thumb{
    background: rgb(239, 159, 167);
}

.chapter-list::-webkit-scrollbar-track {
    background: rgba(255, 242, 239, 0.8);
}

.chapter-list-button{
    background-image: url(theme/images/chapter-list-button.png);
}

.books-button-open-pre{
    -webkit-mask-image: url(theme/images/book-pre.png);
}

.book-pre{
    -webkit-mask-image: url(theme/images/book-pre.png);
}

.book-button-edit{
    -webkit-mask-image: url(theme/images/book-button-edit.png);
}

.book-button-remove{
    -webkit-mask-image: url(theme/images/book-button-remove.png);
}

.book-list-create{
    background-color: rgba(218, 163, 187, 0.8);
}

.book-list-load{
    background-color: rgba(218, 163, 187, 0.8);
}

.bm-menu-wrap {
    background-image: url(theme/images/book-list.png);
}

.modal-error, .modal-warn{
    box-shadow: 0 0 10px grey;
}

.modal-error .modal-head{
    background: url(theme/images/error-head.png);
}

.modal-error .modal-body{
    background: rgb(255, 255, 255);
}

.modal-warn .modal-head{
    background: url(theme/images/warn-head.png);
}

.modal-warn .modal-body{
    background: rgb(255, 255, 255);
}

.modal-sys-info .modal-head{
    background: url(theme/images/sys-info-head.png);
}

.modal-sys-info .modal-body {
    background: rgb(255, 255, 255);
}

.react-context-menu {
    background-image: url(theme/images/menu-background.png);
    box-shadow: 0 0 10px black;
}
.react-context-menu-link.active,
.react-context-menu-link:hover {
    background: rgba(218, 163, 187, 0.4);
}

.toolbar-about{
    -webkit-mask-image: url(theme/images/about.png);
}

.toolbar-reload{
    -webkit-mask-image: url(theme/images/reload.png);
}