#react-content{
    background-image: url(/theme/images/sakura/body.png);
}

.head-image{
    /*background-image: url(/theme/images/head.png);*/
}

.page-content{
    /*background-image: url(/theme/images/page.png);*/
    background-color: white;
}

.page-editor{
    background: rgba(255,255,255,0.5);
}

.page-preview{
    background: rgba(228, 228, 228, 0.4);
}

.page-preview blockquote{
    background-color: rgba(243, 216, 222, 0.6);
}

.page-preview pre{
    background-color: rgba(255, 255, 255,0.9);
}

.page-preview code{
    background-color: rgba(239, 194, 212, 0.6);
}

.page-text{
    background: none;
}

.page-text::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.page-text::-webkit-scrollbar-track {
    background: rgba(208, 198, 188, 0.8);
}

.ace_scrollbar::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.ace_scrollbar::-webkit-scrollbar-track {
    background: rgba(213, 200, 197, 0.8);
}

.page-list{
}

.page-list-background{
}

.page-sortable-list::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.page-sortable-list::-webkit-scrollbar-track {
    background: rgba(252, 249, 243, 0.8);
}

.page-sortable-list-item-normal:hover{
    background-color: rgba(255,255,255,0.4);
}

.page-list-button:before{
    background-image: url(/theme/images/page-list-button.png);
}

.page-sortable-list .ui-sortable-dragging{
    background-color: rgba(230,230,230,0.9);
}

.page-sortable-list .ui-sortable-placeholder.visible {
    background-color: rgba(230,230,230,0.9);
}

.chapter-list-background{
}

.chapter-list{
}

.chapter-list::-webkit-scrollbar-thumb{
    background: rgb(239, 159, 167);
}

.chapter-list::-webkit-scrollbar-track {
    background: rgba(255, 242, 239, 0.8);
}

.chapter-list-button{
    background-image: url(/theme/images/chapter-list-button.png);
}

.books-button-open-pre{
    -webkit-mask-image: url(/theme/images/sakura/book-pre.png);
}

.book-pre{
    -webkit-mask-image: url(/theme/images/sakura/book-pre.png);
}

.book-button-edit{
    -webkit-mask-image: url(/theme/images/book-button-edit.png);
}

.book-button-remove{
    -webkit-mask-image: url(/theme/images/book-button-remove.png);
}

.book-list-create{
    background-color: rgba(218, 163, 187, 0.8);
}

.book-list-load{
    background-color: rgba(218, 163, 187, 0.8);
}

.bm-menu-wrap {
    background-image: url(/theme/images/sakura/book-list.png);
}

.modal-error, .modal-warn{
    box-shadow: 0 0 10px grey;
}

.modal-error .modal-head{
    background: url(/theme/images/sakura/error-head.png);
}

.modal-error .modal-body{
    background: rgb(255, 255, 255);
}

.modal-warn .modal-head{
    background: url(/theme/images/sakura/warn-head.png);
}

.modal-warn .modal-body{
    background: rgb(255, 255, 255);
}

.modal-sys-info .modal-head{
    background: url(/theme/images/sakura/sys-info-head.png);
}

.modal-sys-info .modal-body {
    background: rgb(255, 255, 255);
}

.react-context-menu {
    background-image: url(/theme/images/sakura/menu-background.png);
    box-shadow: 0 0 10px black;
}
.react-context-menu-link.active,
.react-context-menu-link:hover {
    background: rgba(218, 163, 187, 0.4);
}

.toolbar-about{
    -webkit-mask-image: url(/theme/images/about.png);
}

.toolbar-reload{
    -webkit-mask-image: url(/theme/images/reload.png);
}

.toolbar-theme-selector-item:hover{
    background-color: rgba(218, 163, 187, 0.8);
}

/*Hightlight style*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #272822; color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
    color: #f92672;
}

.hljs-code {
    color: #66d9ef;
}

.hljs-class .hljs-title {
    color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
    color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #61ab4a;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
    font-weight: bold;
}