.book-text, .book-list-button, .modal, .books-button-open, .chapter-sortable-list-item, .page-sortable-list-item, .page-list-button, .react-context-menu-link{
    font-family: "theme/fonts/Hack-Regular.ttf" ! important;
}

#react-content{
    background-image: url(../images/body.png);
}

.head-image{
    /*background-image: url(theme/images/head.png);*/
}

.page-content{
    /*background-image: url(theme/images/page.png);*/
}

.page-editor{
    background: rgba(240,240,240,0.8);
}

.page-preview{
    background: rgba(220,220,220,0.8);
}

.page-preview blockquote{
    background-color: rgba(250,250,250,0.7);
}

.page-preview pre{
    background-color: rgba(235, 235, 235,0.7);
}

.page-preview code{
    background-color: rgba(239, 194, 212, 0.7);
}

.page-text{
    background: none;
}

.page-text::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.page-text::-webkit-scrollbar-track {
    background: rgba(213, 200, 197, 0.8);
}

.ace_scrollbar::-webkit-scrollbar-thumb{
    background: rgba(239, 194, 212, 1);
}

.ace_scrollbar::-webkit-scrollbar-track {
    background: rgba(213, 200, 197, 0.8);
}

.page-list{
}

.page-list-background{
}

.page-sortable-list-item-normal:hover{
    background-color: rgba(255,255,255,0.4);
}

.page-list-button:before{
    background-image: url(../images/page-list-button.png);
}

.chapter-list-background{
}

.chapter-list{
}

.chapter-list::-webkit-scrollbar-thumb{
    background: rgb(239, 159, 167);
}

.chapter-list::-webkit-scrollbar-track {
    background: rgba(255, 242, 239, 0.8);
}

.chapter-list-button{
    background-image: url(../images/chapter-list-button.png);
}

.books-button-open-pre{
    -webkit-mask-image: url(../images/book-pre.png);
}

.book-pre{
    -webkit-mask-image: url(../images/book-pre.png);
}

.book-button-edit{
    -webkit-mask-image: url(../images/book-button-edit.png);
}

.book-button-remove{
    -webkit-mask-image: url(../images/book-button-remove.png);
}

.book-list-create{
    background-color: rgba(218, 163, 187, 0.8);
}

.book-list-load{
    background-color: rgba(218, 163, 187, 0.8);
}

.bm-menu-wrap {
    background-image: url(../images/book-list.png);
}

.modal-error .modal-head{
    background: url(../images/error-head.png);
}

.modal-error .modal-body{
    background: rgb(255, 255, 255);
}

.modal-warn .modal-head{
    background: url(../images/warn-head.png);
}

.modal-warn .modal-body{
    background: rgb(255, 255, 255);
}

.react-context-menu {
    background-image: url(../images/menu-background.png);
}
.react-context-menu-link.active,
.react-context-menu-link:hover {
    background: rgba(218, 163, 187, 0.4);
}
