.head{
    background-image: url(theme/images/head.png);
}

.page-content{
    background-image: url(theme/images/page.png);
}

.page-editor{
    background: rgba(200,200,200,0.6);
}

.page-preview{
    background: rgba(255,255,255,0.6);
}

.page-text{
    background: none;
}

.page-list{
}

.page-list-background{
    background-image: url(theme/images/page-list.png);
}

.page-list-button:before{
    background-image: url(theme/images/page-list-button.png);
}

.page-list::-webkit-scrollbar-thumb{
    background: #fff;
}

.page-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chapter-list{
    background-image: url(theme/images/chapter-list.png);
}

.chapter-list::-webkit-scrollbar-thumb{
    background: #fff;
}

.chapter-list::-webkit-scrollbar-track {
    background: black;
}

.chapter-sortable-list-item form{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chapter-list-button{
    background-image: url(theme/images/chapter-button.png);
}

.books-button-open{
    background-image: url(theme/images/book-open-background.png);
}

.books-button-open:before{
    background-image: url(theme/images/book-open.png);
}

.book-text:before{
    background-image: url(theme/images/book-text.png);
}

.book-button-edit{
    background-image: url(theme/images/book-button-edit.png);
}

.book-button-remove{
    background-image: url(theme/images/book-button-remove.png);
}

.book-list-create{
    background-color: rgba(150,100,100,0.8);
}

.book-list-load{
    background-color: rgba(100,150,100,0.8);
}

.bm-menu-wrap {
    background-image: url(theme/images/book-list.png);
}