body{
    background-image: url(theme/images/body.png);
}

.head{
    background-image: url(theme/images/head.png);
}

.page-editor{
    background: rgba(200,200,200,0.6)
}

.page-preview{
    background: rgba(255,255,255,0.6)
}

.page-text{
    background: none
}

.page-content{
    background: none;
}

.page-list{
}

.page-list-background{
    background-image: url(theme/images/page-list.png);
}

.page-list-button{
    background-image: url(theme/images/page-button.png);
}

.page-list::-webkit-scrollbar-thumb{
    background: #fff;
}

.page-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chapter-list{
    background-image: url(theme/images/chapter-list.png);
}

.chapter-list::-webkit-scrollbar-thumb{
    background: #fff;
}

.chapter-list::-webkit-scrollbar-track {
    background: black;
}

.chapter-sortable-list-item{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chapter-list-button{
    background-image: url(theme/images/chapter-button.png);
}

.books-button-open{
    background-image: url(theme/images/book-open-background.png);
}

.books-button-open:before{
    background-image: url(theme/images/book-open.png);
}

.book-button-edit{
    background-image: url(theme/images/book-edit.png);
}

.book-button-remove{
    background-image: url(theme/images/book-remove.png);
}